.git
.github
.gitattributes
.gitignore
.gitlab-ci.yml
.venv
.pytest_cache
.coverage
**/__pycache__
**/*.pyc
*.egg-info
*.log
upload_folder/
docs/
tests/
ci/
Dockerfile
Dockerfile.dev
docker-compose*.yml
