## Environment file used by scripts/simdb-server.service.
## Everything here is commented out to show defaults.

## Select compose file overrides. `docker compose` will use docker-compose.yml by default,
## unless COMPOSE_FILE or --file is set.
##
## The systemd variant (prefers online published image), default:
#COMPOSE_FILE=docker-compose.yml:docker-compose.systemd.yml

## Choose image to use for the simdb-server container
#SIMDB_TAG=latest
#SIMDB_IMAGE=ghcr.io/iterorganization/simdb-server
# To run the locally built docker image (e.g. `make service`), use:
#SIMDB_IMAGE=simdb-server
#SIMDB_TAG=service

# Binding: serve via TCP "0.0.0.0:5000" for Docker or network, 
#GUNICORN_BIND=0.0.0.0:5000

# Some other GUNICORN flags
#GUNICORN_WORKERS=3
#GUNICORN_WORKER_CLASS=gthread
#GUNICORN_THREADS=4
#GUNICORN_TIMEOUT=120
